@import url(https://fonts.googleapis.com/css?family=Courgette)
@import url(https://fonts.googleapis.com/css?family=Coming+Soon)
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat)

body,
div
  padding: 0px
  margin: 0px

div.header header
  margin: 0px
  padding: 30px 0px 30px 10px
  font-size: 30em
  background-color: #B95EC1
  font-family: 'Courgette', cursive
  color: #F2F2F2

#usericon
  width: 32px
  height: 32px
  position: relative
  top: 8px

.affix
  top: 0
  width: 100%

.affix + .container
  padding-top: 70px

div.footer
  position: fixed
  bottom: 0%
  background-color: #FFFFFF

.navbar
  background-color: #2d2d30
  border: 0
  letter-spacing: 4px
  opacity: 0.9
  font-family: 'Walter Turncoat', cursive

