<div class="profile-container span12">
  <div class="user span3">
    <% if (!user.image) { %>
    <img src="/img/default/default.png" alt="user" class="span3">
    <% } else { %>
    <img src="<%= user.image %>" alt="user" class="span3">
    <% } %>

    <h3><%= user.name %></h3>
    <form action="/image-upload" method="post" accept-charset="utf-8" role="form" enctype='multipart/form-data'>
      <input name="image" type="file" value="choose file">
      <p><input type="submit" value="submit"></p>
    </form>
  </div>
  <div class="profile span8">
    <% if (!user.profile) { %>
    <header>Profile desciption</header>
    <form action="/profile-upload" method="post" accept-charset="utf-8" role="form">
      <textarea name="profile" rows="20" class="span8"></textarea>
      <p><input type="submit" value="submit"></p>
    </form>
    <% } else { %>
    <div class="description">
      <p style="border: solid black 2px"><%= user.profile %></p>
    </div>
    <% } %>
  </div>
</div>
