<div class="container">
  <form class="form-horizontal" method="post" role="form">
    <legend>用戶註冊</legend>
    <div class="form-group">
      <label class="control-label col-lg-2" for="username">用戶名</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="username"
          name="username" autocomplete="off">
        <p class="help-block">你的賬戶的名稱，用於登錄和顯示。</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2" for="password">口令</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="password" name="password">
        <p class="help-block">口令是您的密碼，登錄時用。</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2" for="password-repeat">重複輸入口令</label>
      <div class="col-lg-10">
        <input type="password" class="form-control"
          id="password-repeat" name="password-repeat">
      </div>
    </div>
    <div class="col-lg-push-2 col-lg-2">
      <button type="submit" class="btn btn-primary">註冊</button>
    </div>
  </form>
</div>
